*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

html,body{
 width: 100%;
 height: 100%; 
}
#main{
  width: 100%;
  height: 100vh;
  
}

#back{
  width: 100%;
  height: 100vh;
}

#back img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#top{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  
}

#workingarea{
  position: relative;
  margin: 0 auto ;
  width: 80%;
  height:  100vh;
  max-width: 1920px;
 
}

#nav{
  width: 100%;
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav img{
  height: 40px;
}

#nleft,#nright {
  display: flex;
  align-items: center;
  gap: 50px;
}


#nav a{
  pointer-events: all;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

#hero{
  position: absolute;
  top: 55%;
  left: 0;
  transform: translate(0%,-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#heroleft{
  min-width: 50%;
}

#heroleft .elem{
  position: relative;
  height: 9vw;
  overflow: hidden;
}

#heroleft .elem h1:nth-child(1){
  top: 0;
}

#heroleft .elem h1{
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 0.9;
  font-family: "kajiro";
  color: #fff;
  font-size: 11vw;
  font-weight: 100;
}

#heroleft button{
  pointer-events: all;
  padding: .3vw 2vw;
  font-size: 2vw;
  margin-top: 1vw;
  font-family: 'kajiro';
}

#heroright{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 17%;
  color: #fff;
  
}

#heroright p{
  font-size: 14px;
  text-align: right;
}

#heroright #imagediv{
  width: 100%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-image: url("download.jpg");
  background-size: cover;
  background-position: center;
}

#heroright p:nth-child(3){
  margin-bottom: 50px;
}